/*---------------------------*/
/* < NAVIGATION MENUS / UI > */
/*---------------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #f1f1f1;
    background: #25242a;
}

/* Add a black background color to the top navigation bar */
.header {
    overflow: hidden;
    background-color: #162443;
}

/* Style the search box inside the navigation bar */
.header input[type=text] {
    float: left;
    padding: 12px;
    background-color: #09080f;
    border: none;
    border-radius: 12px;
    margin-top: 24px;
    margin-left: 30px;
    font-size: 17px;
    color: white;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .header a, .header input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .header input[type=text] {
        border: 1px solid #ccc;
    }

    .avatar {
        float: left;
    }
}

#searchQuery {
    background-image: url('/images/search.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
}

.logo {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    height: 80px;
}

/* Formatting for the avatar/profile picture */
.avatar {
    float: right;
    margin: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #09080f;
  overflow: hidden;
  margin-bottom: 15px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e29c00;
  color: white;
}

/* Style page content */
.content {
    text-align: left;
    padding: 1px 20px;
}
/* Formatting for basic content text (subtitles under game images) */
.content a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}



div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}