<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Page Name -->
    <title>Spartan Games - Featured</title>
    <link rel="stylesheet" href="homestyles.css">
</head>
<body>

<!-- --------------------------------- -->
<!-- ----- NAVIGATION MENUS / UI ----- -->
<!-- --------------------------------- -->

<!-- Top banner/header -->
<div class="header">
    <img src="images/spartan-games-logo.png" class="logo" alt="Spartan Games">
    <div class="wrapper">
        <div class="searchbar">
            <input id="searchqueryinput" type="text" placeholder="Search">
            <button id="searchquerysubmit" type="submit">
                <img src="images/search.png" width="24px" height="24px">
            </button>
        </div>

    </div>
    <a href="profile.html">  <img src="images/example.png" alt="Avatar" class="avatar"> </a>
</div>

<!-- Sidebar -->
<div class="sidenav">
    <!-- Sidebar options -->
    <a href="home.html">Home</a>
    <a href="featured.html">Featured</a>
    <a href="trending.html">Trending</a>
    <a href="you.html">For you</a>
    <a href="upload.html">Upload</a>
</div>

<!-- All nav stuff is above. Should be the same for every page. -->

<!-- --------------------------------- -->
<!-- ----- PAGE-SPECIFIC CONTENT ----- -->
<!-- --------------------------------- -->

<div class="uipadding">
    <!-- Content for featured -->
    <div class="content">

        <h1>Featured</h1>

        <!-- Example 1 -->
        <a href="gamepage.html">
            <img src="images/placeholder-2.png" class="gamepreview" alt="example1" > <figcaption class="subtitle"> example 1 </figcaption>
        </a>
        <!-- Example 2 -->
        <a href="gamepage.html">
            <img src="images/placeholder-2.png" class="gamepreview" alt="example2" > <figcaption class="subtitle"> example 2 </figcaption>
        </a>
        <!-- Example 3 -->
        <a href="gamepage.html">
            <img src="images/placeholder-2.png" class="gamepreview" alt="example3" > <figcaption class="subtitle"> example 3 </figcaption>
        </a>
        <!-- Example 4 -->
        <a href="gamepage.html">
            <img src="images/placeholder-2.png" class="gamepreview" alt="example4" > <figcaption class="subtitle"> example 4 </figcaption>
        </a>
        <!-- Example 5 -->
        <a href="gamepage.html">
            <img src="images/placeholder-2.png" class="gamepreview" alt="example5" > <figcaption class="subtitle"> example 5 </figcaption>
        </a>
        <!-- Example 6 -->
        <a href="gamepage.html">
            <img src="images/placeholder-2.png" class="gamepreview" alt="example6" > <figcaption class="subtitle"> example 6 </figcaption>
        </a>
        <!-- Example 7 -->
        <a href="gamepage.html">
            <img src="images/placeholder-2.png" class="gamepreview" alt="example7" > <figcaption class="subtitle"> example 7 </figcaption>
        </a>
        <!-- Example 8 -->
        <a href="gamepage.html">
            <img src="images/placeholder-2.png" class="gamepreview" alt="example8" > <figcaption class="subtitle"> example 8 </figcaption>
        </a>
        <!-- Example 9 -->
        <a href="gamepage.html">
            <img src="images/placeholder-2.png" class="gamepreview" alt="example9" > <figcaption class="subtitle"> example 9 </figcaption>
        </a>
        <!-- Example 10 -->
        <a href="gamepage.html">
            <img src="images/placeholder-2.png" class="gamepreview" alt="example10" > <figcaption class="subtitle"> example 10 </figcaption>
        </a>
    </div>
</div>

</body>
</html>