<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">

    <!-- th:href="@{/styles/styles.css}" -->
    <!-- href="/static/styles/styles.css" -->

</head>
<body>

<!-- Top banner/header -->
<div class="header">
    <img th:src="@{/images/spartan-games-logo.png}" class="logo" alt="Spartan Games">
    <form action="/games/search" method="get">
        <input type="text" id="searchQuery" name="query" placeholder="Search..." title="search"> <!--onkeyup="searchFunction()"-->
    </form>
    <a th:href="@{/user/{userId}(userId=${user.userId})}">
        <img th:src="@{/user/{userId}/thumbnail(userId=${user.userId})}" alt="Profile" class="avatar">
    </a>
</div>

<!-- Topnav -->
<div class="topnav">
    <!-- Topnav options -->
    <a href="/games/all" class="active">Home</a>
    <a href="/games/new-uploads">New</a>
    <a href="/games/upload_game">Upload</a>
    <a sec:authorize="hasAuthority('ADMIN')" href="/user/admin/all">Users</a> <!-- Will only be visible to admins -->
    <a sec:authorize="hasAuthority('ADMIN')" href="/report/admin/all">Reports</a> <!-- Will only be visible to admins -->
</div>

<!-- Just the message lol -->
<h1>You don't have permission to access this page. Sorry!</h1>

</body>
</html>