<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>403 Error</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">

    <!-- th:href="@{/styles/styles.css}" -->
    <!-- href="/static/styles/styles.css" -->

</head>
<body>

<!-- Top banner/header -->
<div class="header">
    <img th:src="@{/images/spartan-games-logo.png}" class="logo" alt="Spartan Games">
</div>

<!-- Topnav -->
<div class="topnav">
    <!-- Topnav options -->
    <a href="/games/all">Home</a>
    <a href="/games/all">New</a> <!-- Change later -->
    <a href="/games/upload_game">Upload</a>
    <a href="/user/admin/all">Users</a> <!-- Will only be visible to admins -->
    <a href="/report/admin/all">Reports</a> <!-- Will only be visible to admins -->
</div>

<!-- Just the message lol -->
<h1>You don't have permission to access this page. Sorry!</h1>

</body>
</html>