<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">

    <!-- th:href="@{/styles/styles.css}" -->
    <!-- href="/static/styles/styles.css" -->
   
</head>
<body>

<!-- --------------------------------- -->
<!-- ----- NAVIGATION MENUS / UI ----- -->
<!-- --------------------------------- -->

<!-- Top banner/header -->
<div class="header">
    <img th:src="@{/images/spartan-games-logo.png}" class="logo" alt="Spartan Games">
    <input type="text" id="searchQuery" placeholder="Search..." title="search"> <!--onkeyup="searchFunction()"-->
    <a th:href="@{/user/{userId}(userId=${user.userId})}">  <img th:src="${user.thumbnailData != null} ? ${user.thumbnailData} : '/images/placeholder.jpg'" th:alt="${user.username}" class="avatar"> </a>
</div>

<!-- Topnav -->
<div class="topnav">
    <!-- Topnav options -->
    <a href="/games/all" class=>Home</a>
    <a href="featured.html">Featured</a>
    <a href="trending.html">Trending</a>
    <a href="you.html">For you</a>
    <a href="upload.html">Upload</a>
</div>

<!-- All nav stuff is above. Should be the same for every page. -->

<!-- --------------------------------- -->
<!-- ----- PAGE-SPECIFIC CONTENT ----- -->
<!-- --------------------------------- -->

<div class="container">
    <h1>Create Account</h1>
    <form action="/user/edit" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" id="file" name="file">
        </div>

        <div class="form-group">
            <label for="userId">Your ID (you can't change this)</label>
            <input type="text" id="userId" name="userId"  data-th-value="${user.userId}" readonly/>
        </div>

        <div class="form-group">
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" data-th-value="${user.username}">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" type="text" name="email" data-th-value="${user.email}">

        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" type="text" name="description" data-th-text="${user.description}"></textarea>

        </div>
        <input type="submit" value="Submit" class="submitButton">
    </form>
</div>
</body>
</html>