<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <!-- Page Name -->
    <title>Spartan Games - Home</title>
    <link rel="stylesheet" href="homestyles.css">
</head>
<body>

<!-- --------------------------------- -->
<!-- ----- NAVIGATION MENUS / UI ----- -->
<!-- --------------------------------- -->

<!-- Top banner/header -->
<div class="header">
    <img src="images/spartan-games-logo.png" class="logo" alt="Spartan Games">
    <div class="wrapper">
        <div class="searchbar">
            <input id="searchqueryinput" type="text" placeholder="Search">
            <button id="searchquerysubmit" type="submit">
                <img src="images/search.png" width="24px" height="24px">
            </button>
        </div>

    </div>
    <a href="profile.html">  <img src="images/example.png" alt="Avatar" class="avatar"> </a>
</div>

<!-- Sidebar -->
<div class="sidenav">
    <!-- Sidebar options -->
    <a href="home.html">Home</a>
    <a href="featured.html">Featured</a>
    <a href="trending.html">Trending</a>
    <a href="you.html">For you</a>
    <a href="upload.html">Upload</a>
</div>

<!-- All nav stuff is above. Should be the same for every page. -->

<!-- --------------------------------- -->
<!-- ----- PAGE-SPECIFIC CONTENT ----- -->
<!-- --------------------------------- -->

<div class="uipadding">
    <!-- Featured section -->
    <div class="content">
        <h1>Featured</h1>
        <!-- Scrollbar for featured -->
        <div class="scrollmenu">
            <!-- Example 1 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example1" > <figcaption class="subtitle"> example 1 </figcaption>
            </a>
            <!-- Example 2 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example2" > <figcaption class="subtitle"> example 2 </figcaption>
            </a>
            <!-- Example 3 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example3" > <figcaption class="subtitle"> example 3 </figcaption>
            </a>
            <!-- Example 4 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example4" > <figcaption class="subtitle"> example 4 </figcaption>
            </a>
            <!-- Example 5 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example5" > <figcaption class="subtitle"> example 5 </figcaption>
            </a>
        </div>

    </div>
    <!-- Trending section -->
    <div class="content">
        <h1>Trending</h1>

        <!-- Scrollbar for trending -->
        <div class="scrollmenu">
            <!-- Example 1 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example1" > <figcaption class="subtitle"> example 1 </figcaption>
            </a>
            <!-- Example 2 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example2" > <figcaption class="subtitle"> example 2 </figcaption>
            </a>
            <!-- Example 3 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example3" > <figcaption class="subtitle"> example 3 </figcaption>
            </a>
            <!-- Example 4 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example4" > <figcaption class="subtitle"> example 4 </figcaption>
            </a>
            <!-- Example 5 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example5" > <figcaption class="subtitle"> example 5 </figcaption>
            </a>
        </div>
    </div>

    <!-- For you section -->
    <div class="content">
        <h1>For you</h1>

        <!-- Scrollbar for 'for you' -->
        <div class="scrollmenu">
            <!-- Example 1 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example1" > <figcaption class="subtitle"> example 1 </figcaption>
            </a>
            <!-- Example 2 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example2" > <figcaption class="subtitle"> example 2 </figcaption>
            </a>
            <!-- Example 3 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example3" > <figcaption class="subtitle"> example 3 </figcaption>
            </a>
            <!-- Example 4 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example4" > <figcaption class="subtitle"> example 4 </figcaption>
            </a>
            <!-- Example 5 -->
            <a href="gamepage.html">
                <img src="images/placeholder-2.png" class="gamepreview" alt="example5" > <figcaption class="subtitle"> example 5 </figcaption>
            </a>
        </div>
    </div>
</div>
</body>
</html>