<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <!-- Page Name -->
  <title>Profile</title>
  <link rel="stylesheet" th:href="@{/styles/styles.css}">

  <!-- th:href="@{/styles/styles.css}" -->
  <!-- href="/static/styles/styles.css" -->
</head>
<body>

<!-- --------------------------------- -->
<!-- ----- NAVIGATION MENUS / UI ----- -->
<!-- --------------------------------- -->

<!-- Top banner/header -->
<div class="header">
  <img th:src="@{/images/spartan-games-logo.png}" class="logo" alt="Spartan Games">
  <form action="/games/search" method="get">
    <input type="text" id="searchQuery" name="query" placeholder="Search..." title="search"> <!--onkeyup="searchFunction()"-->
  </form>
  <a th:href="@{/user/{userId}(userId=${user.userId})}">
    <img th:src="@{/user/{userId}/thumbnail(userId=${user.userId})}" alt="Profile" class="avatar">
  </a>
</div>

<!-- Topnav -->
<div class="topnav">
  <!-- Topnav options -->
  <a href="/games/all">Home</a>
  <a href="/games/all">New</a> <!-- Change later -->
  <a href="/games/upload_game">Upload</a>
  <a href="/user/admin/all">Users</a> <!-- Will only be visible to admins -->
  <a href="/report/admin/all">Reports</a> <!-- Will only be visible to admins -->
</div>

<!-- All nav stuff is above. Should be the same for every page. -->

<!-- --------------------------------- -->
<!-- ----- PAGE-SPECIFIC CONTENT ----- -->
<!-- --------------------------------- -->


  <div class="content">
    <!-- User's profile 'card' -->
    <div class="card">

      <img th:src="@{/user/{profileUserId}/thumbnail(profileUserId=${profileUser.userId})}" onerror="this.src='/static/images/placeholder.jpg';" th:alt="${profileUser.username}" class="profileimg">
      <h1 data-th-text="${profileUser.username}"></h1>
      <p class="description" text-indent="10px" data-th-text="${profileUser.description}"></p>
      <div>
        <a th:href="@{/logout}" class="signout"> Sign out </a>
        <a th:href="@{/user/edit/{profileUserId}(profileUserId=${profileUser.userId})}" class="modify" float="right"> Edit profile </a>
      </div>
    </div>

    <!-- User's published games -->
    <h1>Published games</h1>

    <!-- Image gallery stuff -->
    <div>
      <div class="responsive" data-th-each="game: ${gamesList}">
        <div class="gallery">
          <a th:href="@{/games/{gameId}(gameId=${game.gameId})}">
            <img th:src="@{/images/placeholderGame.png}" th:alt="${game.title}"> <!-- th:src="${game.thumbnailData}" -->
          </a>
          <div class="desc" data-th-text="${game.title}"></div>
        </div>
      </div>

      <!-- Fallback Message -->
      <p th:if="${gamesList == null || gamesList.isEmpty()}">
        This user has no published games.
      </p>
    </div>

    <div class="clearfix"></div>

  </div>


</body>
</html>