<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Page Name -->
  <title>Spartan Games - Goober Johnson's Page</title>
  <link rel="stylesheet" href="../static/styles/homestyles.css" th:href="@{/styles/homestyles.css}">
</head>
<body>

<!-- --------------------------------- -->
<!-- ----- NAVIGATION MENUS / UI ----- -->
<!-- --------------------------------- -->

<!-- Top banner/header -->
<div class="header">
  <img th:src="@{/images/spartan-games-logo.png}" class="logo" alt="Spartan Games">
  <div class="wrapper">
    <div class="searchbar">
      <input id="searchqueryinput" type="text" placeholder="Search">
      <button id="searchquerysubmit" type="submit">
        <img src="images/search.png" width="24px" height="24px">
      </button>
    </div>

  </div>
  <a href="profile.html">  <img th:src="@{/images//example.png}" alt="Avatar" class="avatar"> </a>
</div>

<!-- Sidebar -->
<div class="sidenav">
    <!-- Sidebar options -->
    <a th:href="@{/games/home }" class="active">Home</a>
    <a th:href="@{/featured}">Featured</a>
    <a th:href="@{/trending}">Trending</a>
    <a th:href="@{/you}">For you</a>
    <a th:href="@{/games/upload_game}">Upload</a>
</div>

<!-- All nav stuff is above. Should be the same for every page. -->

<!-- --------------------------------- -->
<!-- ----- PAGE-SPECIFIC CONTENT ----- -->
<!-- --------------------------------- -->

<div class="uipadding">
  <div class="content">
    <!-- User's profile 'card' -->
    <div class="card">

      <img th:src="@{/images//example.png}" alt="goober" class="profileimg" hspace="15px" vspace="15px">
      <h1>Goober Johnson</h1>
      <p class="description" text-indent="10px">I am just a user here who really likes games! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div>
        <a href="login.html" class="signout"> Sign out </a>
        <button class="modify" float="right"> Edit profile </button>
      </div>
    </div>

    

    <h1 th:text="${developer.username} + '\'s published games'">Name</h1>

    <!-- Displaying Developer's Games -->
    <div class="games-container">
        <div th:each="game : ${games}">
            <a th:href="@{/games/{gameId}(gameId=${game.gameId})}">
                <img th:src="@{'/images/' + ${game.thumbnailFileName}}" class="gamepreview" alt="Game thumbnail">
                <figcaption class="subtitle" th:text="${game.title}">Game Title</figcaption>
            </a>
        </div>
    </div>
</div>

</body>
</html>