<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Upload</title>
  <link rel="stylesheet" th:href="@{/styles/styles.css}">



</head>
<body>

<!-- Top banner/header -->
<div class="header">
  <img th:src="@{/images/spartan-games-logo.png}" class="logo" alt="Spartan Games">
  <form action="/games/search" method="get">
    <input type="text" id="searchQuery" name="query" placeholder="Search..." title="search"> 
  </form>
  <a th:href="@{/user/{userId}(userId=${user.userId})}">
    <img th:src="@{/user/{userId}/thumbnail(userId=${user.userId})}" alt="Profile" class="avatar">
  </a>
</div>

<!-- Topnav -->
<div class="topnav">
  <!-- Topnav options -->
  <a href="/games/all">Home</a>
  <a href="/games/new-uploads">New</a>
  <a href="/games/upload_game" class="active">Upload</a>
  <a sec:authorize="hasAuthority('ADMIN')" href="/user/admin/all">Users</a> <!-- Will only be visible to admins -->
  <a sec:authorize="hasAuthority('ADMIN')" href="/report/admin/all">Reports</a> <!-- Will only be visible to admins -->
</div>

<!-- Stuff for game upload -->
<div class="container">
  <h1>Update Your Game</h1>
  <form th:action="@{/games/update/{gameId}(gameId=${game.gameId})}" 
                  method="post" 
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Game Title:</label>
                    <input type="text" 
                           id="title" 
                           name="title" 
                           th:value="${game.title}" 
                           placeholder="Enter new game title">
                </div>
                <div class="form-group">
                    <label for="description">Game Description:</label>
                    <textarea id="description" 
                              name="description" 
                              rows="5" 
                              placeholder="Enter new game description"
                              th:text="${game.description}"></textarea>
                </div>
                
                <div class="form-group">
                    <label for="gameFile">Update Game File:</label>
                    <input type="file" 
                           id="gameFile" 
                           name="gameFile" 
                           accept=".zip,.jar">
                </div>
                
                <div class="form-group">
                    <label for="thumbnailFile">Update Thumbnail:</label>
                    <input type="file" 
                           id="thumbnailFile" 
                           name="thumbnailFile" 
                           accept="image/*">
                </div>
                
                <button type="submit">Update Game</button>
            </form>

</body>
</html>
